body{
    color: bisque;
    background-color: dimgray;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin: 5px auto auto auto;
    min-width: 160px;
    background-color: #a8a191;
}

nav{
    background-color: #778899;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: bisque;
}

img{
    border-radius: 20px;
    border: darksalmon solid 1px;
    transition: 0.5s;
    width: 20%;
    display: block;
    margin: auto;
    padding: 15px;
}

img:hover{
    transform: scale(1.1);
}