body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: saddlebrown;
}

img{
    border-radius: 20px;
    border: darksalmon solid 1px;
    transition: 1s;
}

img:hover{
    transform: scale(1.3);
}

#divkozep{
    margin: 500px auto 500px auto;
}